<h1>About Me</h1>
<p>I'm a 5th year computer science student at the University of Memphis.</p>
<p> As a child I have always been interested on how computers work on the technical side
    or how process of updating their system go. That and my love for gaming have influence me to 
    follow this path.
</p>
<ul>

  <li><strong>Skills:</strong> Learn how to code in multiple languages such as Java, Python, Ruby.</li>
  <li><strong>Education:</strong> Current student at the UofM, expected to graduate this Fall. </li>
  <li><strong>Achievements:</strong> Currently pending atm, will get back to you about that.</li>
</ul>

<%= link_to "Home", root_path %>
