<h1>How To Contact Me</h1>
<p>If you want to talk more on a personal level ,f eel free to reach out through the following:</p>
<ul>
  <li><strong>Email:</strong> jaylon.taylor@gmail.com</li>
  <li><strong>School email:</strong> jtylor78@memphis.edu</li>
  <li><strong>GitHub:</strong> <%= link_to "GitHub Profile", "https://github.com/JaylonT23", target: "_blank" %></li>
</ul>

<%= link_to "Home", root_path %>
