<h1>Jaylon's Professional Portfolio</h1>
<p>Hello! My name is Jaylon Taylor, and 5th year college student.</p>
<p>Welcome to my portfolio website where you can learn more about my skills, projects I've worked on, and my personal background.</p>

<nav>
  <%= link_to "About", about_path %> |
  <%= link_to "Projects", work_path %> |
  <%= link_to "Contact", contact_path %>
</nav>
