<h1>Projects I've worked on!</h1>
<p>Here are some of the projects I've worked on these past 5 years:</p>
<div>
  
  <h2>Project: PartSlingers</h2>
  <p>In comp 4081, I worked with three other students in
     making a websites that sells pc parts and whole gaming/work computers.
     The website also has a feature that compares parts price, gpu , cpu and rem to find the best for price and performance.</p>
 
  
  <h2>Project:ToText</h2>
  <p>In cOMP 4882, I worked with 2 other students to help our professor update his website where it 
    takes audio from a video and print out the text of the video. At the begining it would only do youtube videos
    however after a couple of updates it can translate/transcribe videos from twitter, instagram and tik tok.
    no matter the language.</p>
 
</div>

<%= link_to "Home", root_path %>
